<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense details</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <h1>Details page</h1>

      <a href="/">Back to home</a>
      <h2>ID: <%= expense.id %></h2>
      <h2>Category: <%= expense.category %></h2>
      <h2>Price: <%= expense.price %></h2>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
